<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Book Club App</title>

    <!-- using flickity library -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <!-- link to the styling of this page -->
    <link rel="stylesheet" href="../Assets/Style/index.css" />
    <link rel="stylesheet" href="../Assets/Style/topNavStyle.css" />
    <link rel="stylesheet" href="../Assets/Style/navDrawer.css" />
    <link rel="stylesheet" href="../Assets/Style/matchsearchdiv.css" />

    <!-- handle javascript event -->
    <script type="text/javascript" src="../Controller/BookList.js"></script>
    <script type="text/javascript" src="../Controller/App.js"></script>
    <script
      type="text/javascript"
      src="../Controller/BookListComponent.js"
    ></script>
    <script
      type="text/javascript"
      src="../Controller/carouselComponent.js"
    ></script>
    <script
      type="text/javascript"
      src="../Controller/SearchDialogComponent.js"
    ></script>
    <script
      type="text/javascript"
      src="../Controller/topBarComponent.js"
    ></script>
    <script
      type="text/javascript"
      src="../Controller/sideBarComponent.js"
    ></script>
    <script
      type="text/javascript"
      src="../Controller/listComponent.js"
    ></script>
    <script
      type="text/javascript"
      src="../Controller/index.js"
      charset="utf-8"
    ></script>
    <script type="text/javascript" src="../Controller/Event.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
