/* .banner .match-search {
  width: 36.8vw;
  position: fixed;
  margin-left: 25.9em;
  margin-top: 4.29em;
  padding: 0 2em;
  height: auto;
  opacity: 50;
  background: #ffffff;
  border: 1px solid #eeeeee;
  /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05); */
} */
